
<app-navigation></app-navigation>

<div *ngIf="isOrderStatusUpdated" class="row g-5" style="margin-top: 100px;">
    <div class="col-md-5 col-lg-4 order-md-last">
    <div  class="alert alert-success d-flex align-items-center" role="alert">
        <div>
        Order Status Updated!
        </div>
    </div>
    </div>
</div>
<ng-container *ngIf="orders$ | async as orders;else noOrders">
    <div class="example-action-buttons" style="margin-top: 100px;">
    <button mat-button (click)="accordion().openAll()">Expand All</button>
    <button mat-button (click)="accordion().closeAll()">Collapse All</button>
    </div>

    <mat-accordion class="example-headers-align" multi>
        <app-order-item 
        *ngFor="let order of orders; let i = index; trackBy: identify"
        [order]="order"
        [index]="orders.length - i"
        (finishOrder)="finishORderHandler($event)"
        >
        </app-order-item>
    </mat-accordion>
</ng-container>

<ng-template #noOrders>
    No Orders
</ng-template>
