<div class="d-flex justify-content-center py-4" style="margin-top:100px;"> 
  <form #updateForm="ngForm" (ngSubmit)="formSubmitHandler()">
    <h1 class="h3 mb-3 fw-normal" style="text-align: center;">Update Your Password</h1>

    <div class="form-floating">
      <input 
      type="password" 
      class="form-control" 
      id="floatingNewPassword" 
      placeholder="Password" 
      name="password" 
      #passwordControl="ngModel" 
      ngModel 
      required
      minlength="6"
      >
      <label for="floatingNewPassword">New Password</label>
    </div>

    <div class="form-floating">
      <input 
      type="password" 
      class="form-control" 
      id="floatingRepeatNewPassword" 
      placeholder="Repeat password" 
      name="repeatPassword" 
      #repeatPasswordControl="ngModel" 
      ngModel 
      >
      <label for="floatingRepeatNewPassword">Repeat new password</label>

      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="passwordControl.errors && updateForm.submitted"
        class="invalid-feedback"
        >
        <div *ngIf="passwordControl.errors['required']">
          Password is required
        </div>
        <div *ngIf="passwordControl.errors['minlength']">
          Password must be at least 6 characters
        </div>
        <div *ngIf="passwordControl.value !== repeatPasswordControl.value">
          Passwords don't match
        </div>
      </div>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Change my Password</button>
      <div class="form-group">
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="updateForm.submitted && isUpdateFailed"
      >
        Update failed: {{ errorMessage }}
      </div>
    </div>
    <div *ngIf="isUpdateSuccessful" class="alert alert-success" role="alert">
      Password updated successfully
    </div>
  </form>
</div>