<h2 mat-dialog-title>Edit Product</h2>
<div class="mb-3" style="text-align: center;">
  <mat-dialog-content>
    <form [formGroup]="categoryForm" class="needs-validation" (submit)="submitForm()">
      <mat-form-field>
        <mat-label>New Category</mat-label>
        <input matInput formControlName="category">
      </mat-form-field>
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="isFormSubmitted && isSubmitUnsuccessful"
      >
        Submit failed: {{ errorMessage }}
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button cdkFocusInitial 
    (click)="submitForm()"
    >
      Add Category
    </button>
    
  </mat-dialog-actions>
</div>